<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 600; font-size: em;"> 
        Today
      </ion-label>
      <p style="font-weight: 400; color: #433465;"> 
        {{today | date:'fullDate'}}
      </p>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of todoList" >

    <ion-card-header>
      <ion-card-subtitle [style.color]="item.itemPriority === 'high' ? 'red' : (item.itemPriority === 'low' ? 'green': 'orange') ">
        {{item.itemCategory}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-icon *ngIf="item.itemPriority == 'high'" color="danger" size="small" name="ellipse"></ion-icon>
      <ion-icon *ngIf="item.itemPriority == 'medium'" color="warning" size="small" name="ellipse"></ion-icon>
      <ion-icon *ngIf="item.itemPriority == 'low'" color="success" size="small" name="ellipse"></ion-icon>
      <ion-label>  {{item.itemName}}</ion-label>
    </ion-item>

    <ion-card-content>
      <ion-label> Due {{item.itemDueDate | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>
      <ion-item>
        <ion-icon size="small" name="share-outline"></ion-icon>
        <p> Share</p>
      </ion-item>
      <ion-item>
        <ion-icon size="small" color="success" name="checkmark-outline"></ion-icon>
        <p> Complete</p>
      </ion-item>
      <ion-item>
        <ion-icon size="small" color="danger" name="trash-outline"></ion-icon>
        <p> Delete</p>
      </ion-item>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="addTask()" color="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
