<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-label style="font-weight: 600; font-size: 2em;"> 
        Today
      </ion-label>
      <p style="font-weight: 400;"> 
        {{today | date:'fullDate'}}
      </p>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of todoList; let i = index" >

    <ion-card-header>
      <ion-card-subtitle [style.color]="item.value.itemPriority === 'High' ? 'red' : (item.value.itemPriority === 'Low' ? 'green': 'orange') ">
        <ion-chip style="text-transform: capitalize;" [style.color]="item.value.itemPriority === 'High' ? 'red' : (item.value.itemPriority === 'Low' ? 'green': 'orange') " >{{item.value.itemCategory}}</ion-chip>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-icon *ngIf="item.value.itemPriority == 'High'" color="danger" size="small" name="ellipse"></ion-icon>
      <ion-icon *ngIf="item.value.itemPriority == 'Medium'" color="warning" size="small" name="ellipse"></ion-icon>
      <ion-icon *ngIf="item.value.itemPriority == 'Low'" color="success" size="small" name="ellipse"></ion-icon>
      <ion-label>  {{item.value.itemName}}</ion-label>
    </ion-item>

    <ion-card-content>
      <ion-label> Due: {{item.value.itemDueDate | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>
      <ion-item button (click)="updateTask(item);" >
        <ion-icon size="small" name="pencil"></ion-icon>
        <p> Edit</p>
      </ion-item>
      <ion-item>
        <ion-icon size="small" color="" name="checkmark-done-outline"></ion-icon>
        <p> Complete</p>
      </ion-item>
      <ion-item button (click)="deleteTask(item.key)" >
        <ion-icon size="small" color="" name="trash-outline"></ion-icon>
        <p> Delete</p>
      </ion-item>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="addTask()" color="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
